<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ItsNatsBlog</title>
</head>
<body>
<h1 style="font-family: monospace;">Create New Post</h1>
<form action ="/blogs" method="POST">
<input type="text" name="title" placeholder="title" required><br><br>
<input type="text" name="author" placeholder="by Nat Scott (probably?)" required><br><br>
<textarea name="post" placeholder="content" required></textarea>   <br><br>
<input type="text" name="pic" placeholder="url" required><br><br>
<button>Submit</button><br><br>
</form>
<a style="font-family: monospace;" href="/">Back to ItsNatsBlog</a>
</body>
</html>