<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Itsnatsblog</title>
</head>
<body style="font-family: monospace;">
<h1 style="font-family: monospace;">Create New Post</h1>
<form action ="/blogs" method="POST">
<input style = "width: 250px;" type="text" name="title" placeholder="title" required><br><br>
<input style = "width: 250px;" type="text" name="author" placeholder="by Nat Scott (probably?)" required><br><br>
<textarea name="post" style="margin: 0px; max-height: 350px; max-width: 312px;height: 250px;width: 250px;" required> Blog away! </textarea>   <br><br>
Place Picture: <input type="text" name="pic" placeholder="url" required><br><br>
<button>Submit</button><br><br>
</form>
<a style="font-family: monospace;" href="/">Back to ItsNatsBlog</a>
</body>
</html>